// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;
$font-stack:    Helvetica, sans-serif;

body {
  background: $gray; // Using this variable
  font: 100% $font-stack;
}

.btn-pink {
  background-color: #f3c1c6;
  color: white;
}
